static/timetable/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
static/timetable/stop_times.txt filter=lfs diff=lfs merge=lfs -text
static/timetable/trips.txt filter=lfs diff=lfs merge=lfs -text
